<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>200558915853-li5bkg42aehmch0ocbsg7s0o5u1p527t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.200558915853-li5bkg42aehmch0ocbsg7s0o5u1p527t</string>
	<key>API_KEY</key>
	<string>AIzaSyAEZgEgltrZ-IOejZnQhr4UlEy5I57R_vI</string>
	<key>GCM_SENDER_ID</key>
	<string>200558915853</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chat-app-8df1c</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-8df1c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:200558915853:ios:ce82b787931944d1de0044</string>
</dict>
</plist>